# Creating, Reading and Writing

In [20]:
# Getting started

import pandas as pd

In [6]:
# Creating data

In [7]:
# Example 1

pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [4]:
# Example 2

pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [5]:
# Example 3

pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [8]:
# Series

In [9]:
# Example 1

pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
# Example 2

pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [11]:
# Reading data files

In [14]:
wine_reviews = pd.read_csv("winemag-data-130k-v2.csv")

In [15]:
# Verificando o tamanho do DataFrame .shape , que retorna (linhas, colunas)

wine_reviews.shape

(65499, 14)

# Exercise: Creating, Reading and Writing

In [23]:
import pandas as pd
print("Setup complete.")

Setup complete.

## 1

In [25]:
# Your code goes here. Create a dataframe matching the above diagram and assign it to the variable fruits.
fruits = pd.DataFrame([[30,21]], columns=['Apples', 'Bananas'])

# Print
fruits

   Apples  Bananas
0      30       21

## 2

In [26]:
# Your code goes here. Create a dataframe matching the above diagram and assign it to the variable fruit_sales.
fruit_sales = pd.DataFrame({'Apples':[35,41],
                        'Bananas':[21,34]},
                       index=['2017 Sales', '2018 Sales'])

# Print
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

## 3

In [27]:
# Create a variable ingredients with a Series that looks like:
ingredients = pd.Series(['4 cups', '1 cup', '2 large','1 can'],
                        index =['Flour', 'Milk','Eggs', 'Spam'],name='Dinner')

# Print
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

## 4

In [ ]:
# Read the following csv dataset of wine reviews into a DataFrame called reviews
reviews = pd.read_csv('winemag-data_first150k.csv',index_col=0)

# Print
reviews

## 5

In [29]:
# Run the cell below to create and display a DataFrame called animals:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

## 6

In [30]:
# In the cell below, write code to save this DataFrame to disk as a csv file with the name cows_and_goats.csv
animals.to_csv('cows_and_goats.csv')

In [31]:
cow = pd.read_csv('cows_and_goats.csv',index_col=0)

# Print
cow

        Cows  Goats
Year 1    12     22
Year 2    20     19