In [2]:
#096
list = [[2,5,8], [3,7,4],[1,6,9],[4,2,0]]
print(list)

[[2, 5, 8], [3, 7, 4], [1, 6, 9], [4, 2, 0]]

In [3]:
#097
row = int(input("Select a row: "))
col = int(input("Select a column: "))
print(list[row][col])

Select a row: 1
Select a column: 2
4

In [4]:
#098
row = int(input("Select a row: "))
print(list[row])
newvalue = int(input("Enter a new number: "))
list[row].append(newvalue)
print(list[row])

Select a row: 1
[3, 7, 4]
Enter a new number: 5
[3, 7, 4, 5]

In [6]:
#099
row = int(input("Select a row: "))
print(list[row])
col = int(input("Select a column: "))
print(list[row][col])
change = input("Do you want to change the value? (y/n)")
if change == "y":
    newvalue = int(input("Enter new valeu: "))
    list[row][col] = newvalue
print(list[row])

Select a row: 3
[4, 2, 0]
Select a column: 2
0
Do you want to change the value? (y/n)y
Enter new valeu: 9
[4, 2, 9]

In [2]:
#0100
sales = {"Jojo":{"N":3056, "S":8463, "E":8441, "W":2694},
       "Tom":{"N":4832, "S":6786, "E":4737, "W":3612},
       "Anny":{"N":5239, "S":4802, "E":5820, "W":1359},
       "Frida":{"N":3904, "S":3645, "E":8821, "W":2451}}
print(sales)

{'Jojo': {'N': 3056, 'S': 8463, 'E': 8441, 'W': 2694}, 'Tom': {'N': 4832, 'S': 6786, 'E': 4737, 'W': 3612}, 'Anny': {'N': 5239, 'S': 4802, 'E': 5820, 'W': 1359}, 'Frida': {'N': 3904, 'S': 3645, 'E': 8821, 'W': 2451}}

In [3]:
#0101
person = input("Enter sales person's name: ")
region = input("Select region: ")
print(sales[person][region])
newdata = int(input("Enter new data: "))
sales[person][region]= newdata
print(sales[person])

Enter sales person's name: Frida
Select region: N
3904
Enter new data: 5460
{'N': 5460, 'S': 3645, 'E': 8821, 'W': 2451}

In [2]:
#0102
list = {}
for i in range (0,4):
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    shoe = int(input("Enter shoe size: "))
    list[name] = {"Age":age, "Shoe size":shoe}

ask = input("Enter a name: ")
print(list[ask])

Enter name: Lili
Enter age: 43
Enter shoe size: 38
Enter name: Manu
Enter age: 10
Enter shoe size: 32
Enter name: Meu
Enter age: 42
Enter shoe size: 43
Enter name: Luiz
Enter age: 53
Enter shoe size: 45
Enter a name: Manu
{'Age': 10, 'Shoe size': 32}

In [3]:
#0103
list = {}
for i in range (0,4):
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    shoe = int(input("Enter shoe size: "))
    list[name] = {"Age":age, "Shoe size":shoe}

for name in list:
    print((name),list[name]["Age"])

Enter name: Lili
Enter age: 43
Enter shoe size: 38
Enter name: Manu
Enter age: 10
Enter shoe size: 32
Enter name: Meu
Enter age: 41
Enter shoe size: 43
Enter name: Luiz
Enter age: 53
Enter shoe size: 45
Lili 43
Manu 10
Meu 41
Luiz 53