O país A tem exportações de $ 20 bilhões, compras governamentais de $ 1 bilhão, investimentos de empresas de $ 50 bilhões, importações de $ 40 bilhões e gasto de consumo de $ 2 bilhões. Qual é o valor do seu PIB na moeda local?

In [27]:
import pandas as pd

In [28]:
# Calculando o PIB pela ótica da demanda
# Solicitando os dados a serem considerados para o cálculo ao usuário

c = float(input('Digite o total de despesas do consumo: $ '))
i = float(input('Digite o total de despesas de investimento: $ '))
g = float(input('Digite o total de despesas do governo: $ '))
x = float(input('Digite o total de exportações: $ '))
m = float(input('Digite o total de importações: $ '))

Digite o total de despesas do consumo: $ 2
Digite o total de despesas de investimento: $ 50
Digite o total de despesas do governo: $ 1
Digite o total de exportações: $ 20
Digite o total de importações: $ 40

In [29]:
#calculando exportações líquidas

t = x - m

In [30]:
#calculando PIB

pib = c + i + g + t

In [31]:
#Criando um dicionário DataFrame

data = {
'Componentes': ['Consumo', 'Investimento', 'Governo', 'Exportações', 'Importações', 'PIB total'],
'Demanda': ['$ {}'.format(c), '$ {}'.format(i), '$ {}'.format(g), '$ {}'.format(x), '$ {}'.format(m), '$ {}'.format(pib)]
}

In [32]:
#Criando o DataFrame

df = pd.DataFrame(data, columns=['Componentes', 'Demanda'])

In [33]:
#Imprimindo o DataFrame

display(df)

    Componentes Demanda
0       Consumo   $ 2.0
1  Investimento  $ 50.0
2       Governo   $ 1.0
3   Exportações  $ 20.0
4   Importações  $ 40.0
5     PIB total  $ 33.0

In [34]:
#Imprimindo o PIB

print('O seu PIB,  pela ótica da demanda, foi de $ {:.0f} trilhões na moeda local.'.format(pib))

O seu PIB,  pela ótica da demanda, foi de $ 33 trilhões na moeda local.