# Criação de DataFrame

A maneira mais simples de criar um DataFrame é a partir de uma lista de dados do Python. O DataFrame também pode ser criado a partir de um RDD e lendo arquivos de várias fontes.

## Usando createDataFrame()a função do SparkSession você pode criar um DataFrame.

In [15]:
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

columns = ["firstname","middlename","lastname","dob","gender","salary"]
df = spark.createDataFrame(data=data, schema = columns)

In [16]:
# Para obter o esquema do DataFrame usamo df.printSchema()
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [17]:
# Para imprimir os elementos do DataFrame usamos df.show()
df.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

## Operações do DataFrame

Assim como o RDD, o DataFrame também possui operações como Transformations e Actions.

# Exemplo de como ler um arquivo csv de um sistema local:

df = spark.read.csv("/tmp/resources/zipcodes.csv")
df.printSchema()